body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(86, 86, 153);
    font-family: Arial, sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container {
    border-radius: 30PX;
    background-color: white;
    box-shadow: 0px 0px 5px #888888;
}

label {
    font-weight: bold;
}

h1,
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
    align-items: center;
    padding: 50px;
    border-radius: inherit;
}

h1 {
    padding: unset;
}

.btn {
    color: white;
    background-color: rgb(86, 86, 153);
    height: 40px;
    width: 80px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: rgb(70, 70, 121);
}